<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="c27e2b38-ca65-46a5-a0bf-cbca9e53b9fc";(function(){d=document;s=d.createElement("script");
        s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="#">MyTrades </a>

			<button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" data-target="#navbarSupportedContent"
			 data-toggle="collapse" type="button">
				<span class="navbar-toggler-icon"></span>MORE</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="Navbarnew.html">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="portfolio.html">Portfolio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="CurrencyConverter.html">Currency converter</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="Trade.html">Trade Demo </a>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="index.html">
									<span class="glyphicon glyphicon-user"></span> Sign out</a>
							</li>

						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</body>
</html>